.cg-wrap {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
}

.cg-wrap::before {
  content: "";
  display: block;
  padding-bottom: 100%; /* Perfect square */
}

.cg-wrap > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chesser-container {
  display: flex;
  align-items: flex-start;
  height: 400px;
  width: 100%;
}

.chess-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 24px;
  width: calc(100% - 424px);
}

.chesser-hide-setting {
  display: none;
}

.chess-toolbar-container {
  border-top: 1px solid var(--background-modifier-border);
  margin-top: auto;
  padding-top: 8px;
}

.chess-toolbar-container .view-action {
  margin-right: 0.6em; /* espace entre boutons */
}

.chess-turn-text {
  font-weight: 500;
  margin: 8px 0;
}

/* temporary */
.cg-wrap coords {
  opacity: 0 !important;
}

.chess-move-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.chess-move {
  color: var(--text-muted);
  cursor: pointer;
  font-size: 80%;
  padding: 4px;
  width: 50%;
}

.chess-move-active {
  color: var(--text-normal);
  font-weight: 500;
}

.chess-menu-section {
  border-top: 1px solid var(--background-modifier-border);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.chess-menu-section-tall {
  min-height: 0;
}

.chess-starting-position-dropdown {
  margin-top: 8px;
  margin-bottom: 12px;
  width: 100%;
}

/* On small screens (iPhone portrait) */
@media (max-width: 768px) {
	.chesser-container {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.chess-menu-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0;
		margin-top: 16px;
		box-sizing: border-box;
	}

	.chess-toolbar-container {
		order: -1; /* Move the toolbar to the top of the menu */
		margin-bottom: 0.5em; /* space under the buttons */
	}
  
	.chess-toolbar-container .view-action {
		margin-right: 12px;
		padding-inline: 6px;
	}
}
